* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
}

.app {
  min-width: 60rem;
  background-color: white;
  padding: 5rem;
  margin-top: -12rem;
  border-radius: 1.2rem;
  background: #18181b;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.03) inset,
    0px 1px 0px 0px rgba(255, 255, 255, 0.03) inset,
    0px 8px 8px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.1),
    0px 2px 2px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

form {
  border: 1px solid gray;
  background-color: #09090b;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.add-item input,
.add-item button {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.add-item button {
  background-color: #aff445;
  border-radius: 0.8rem;
  cursor: pointer;
}

ul {
  margin-top: 2rem;
  list-style-type: none;
  display: flex;
  padding: 2rem;
  border: 1px solid gray;
  color: #fafafa;
  background: #09090b;
}

li {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li span {
  margin-right: 1rem;
}

li button {
  background-color: #ff453a;
  border-radius: 0.8rem;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
}
